<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InfinityInk</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js" defer></script>
    <script src="/index-min.js" defer></script>
</head>
<body class="blob-bg">
<svg xmlns="http://www.w3.org/2000/svg" id="blob-bg-blob" class="blob-bg-blob" viewBox="14.34 45.03 149.58 123.25">
    <defs>
        <linearGradient id="blob-shape-gradient" x2="0.35" y2="1">
            <stop offset="0%" stop-color="var(--bg-one)" />
            <stop offset="100%" stop-color="var(--bg-two)" />
        </linearGradient>
    </defs>
    <path id="blob-one" d="M52.3,-54.2C65.5,-39.1,72.3,-19.6,67.8,-4.5C63.3,10.6,47.5,21.1,34.3,30C21.1,38.9,10.6,46.2,-4.3,50.5C-19.1,54.7,-38.3,56.1,-52.5,47.2C-66.8,38.3,-76.2,19.1,-72.1,4.1C-67.9,-10.9,-50.4,-21.8,-36.1,-36.9C-21.8,-52,-10.9,-71.1,4.3,-75.5C19.6,-79.8,39.1,-69.2,52.3,-54.2Z" transform="translate(100 100)" />
    <path id="blob-two" d="M43,-38.8C59.5,-26.4,79.4,-13.2,80.8,1.3C82.1,15.9,64.9,31.8,48.4,43.6C31.8,55.4,15.9,63.1,-0.5,63.6C-17,64.2,-34,57.6,-43.8,45.8C-53.7,34,-56.3,17,-58,-1.7C-59.7,-20.4,-60.4,-40.7,-50.6,-53.1C-40.7,-65.5,-20.4,-69.8,-3.6,-66.2C13.2,-62.6,26.4,-51.1,43,-38.8Z" transform="translate(100 100)" />
</svg>
