<%- include('partials/head') %>

<main>
  <div class="logo">
    <div></div>

    <div></div>

    <div></div>

    <span>de stadsdichter</span>
  </div>

  <div class="poem-wrapper">
    <section class="poem"></section>

    <div class="share">
      <div>
        <img />
      </div>

      <div>
        <img />
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
