<%- include('partials/head') %>
<!-- Jeffrey will style this later on -->
<header>
    <ul>
        <!-- Hier komen de prompts in  -->
    </ul>
</header>
<main class="home">
  <section>
    <h1>Poem</h1>
		<p><%= paragraph %></p>
  </section>
</main>
<%- include('partials/footer') %>