<%- include('partials/head') %>
<!-- Jeffrey will style this later on -->
<header>
    <ul>
        <!-- Hier komen de prompts in  -->
    </ul>
</header>
<main class="home">
  <section>
    <h1>prompt</h1>
    <form id="poemForm">
        <label for="type">Kies een gedichttype:</label>
        <select id="type">
          <option value="1">Limerick</option>
          <option value="2">Elevenie</option>
          <option value="3">Ollekebolleke</option>
          <option value="4">Snelsonnet</option>
          <option value="5">Haiku</option>
          <option value="6">Romantisch drama plot</option>
          <option value="7">Tragedie plot</option>
          <option value="8">Manifest</option>
          <option value="9">Essay</option>
          <option value="10">Six word story</option>
          <option value="11">Toneel opening tragedie</option>
          <option value="12">Toneel opening komedie</option>
        </select>
        <label for="theme">Voer een thema in:</label>
        <input type="text" id="theme" placeholder="mooi bos, warme zomerdag">
        <button type="submit">Genereer gedicht</button>
      </form>
      <div class="output"></div>
  </section>
</main>
<%- include('partials/footer') %>
