@import url(https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap);

:root {
  --black: #000;
  --white: #fff;
  --bg-one: #f15156;
  --bg-two: #721121;
  --bg-rotation: 45deg
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arimo, sans-serif;
  scroll-behavior: smooth
}

body {
  background-color: var(--bg-one);
  overscroll-behavior: contain
}

main {
  overflow: hidden
}

.logo {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: calc(6.25% - .75rem);
  display: flex;
  flex-direction: column;
  row-gap: 1rem
}

.logo>div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--white)
}

.logo>div:nth-child(1) {
  width: 1.25rem;
  height: 1.25rem;
  border: .125rem solid var(--white);
  background-color: transparent
}

.logo>div:nth-child(2) {
  width: 1.25rem;
  height: 1.25rem;
  border: .125rem solid var(--white);
  background: linear-gradient(to top, #fff 0, #fff 50%, transparent 50%, transparent 100%)
}

.logo>span {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1;
  writing-mode: vertical-rl
}

.poem-wrapper {
  overflow: scroll;
  display: flex;
  justify-content: center;
  height: 100vh
}

.poem {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  width: 75%
}

.poem>p {
  opacity: 1;
  font-size: 4rem;
  font-weight: 700;
  color: var(--white);
  text-shadow: 0 0 0 var(--white);
  transition: text-shadow .5s ease-in-out, opacity .5s ease-in-out
}

.poem>p.blur {
  opacity: .5;
  color: transparent;
  text-shadow: 0 0 .25rem var(--white)
}

.poem>p>span {
  border-radius: .5rem;
  color: var(--black);
  background-color: var(--white)
}

.poem>p.blur>span {
  filter: blur(.25rem)
}

.share {
  transform: translateX(-50%);
  opacity: 0;
  display: flex;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  position: absolute;
  bottom: 0;
  left: calc(50%);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out
}

.share.show {
  transform: translate(-50%, -4rem);
  opacity: 1
}

.share>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--white)
}

.blob-bg {
  background-image: linear-gradient(var(--bg-rotation), var(--bg-one) 0, var(--bg-two) 100%);
  background-size: cover;
  background-repeat: no-repeat
}

.blob-bg-blob {
  transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
  z-index: -1;
  top: 50%;
  left: 50%;
  height: 85vh;
  filter: blur(30px);
  z-index: -1
}

.blob-bg-blob path {
  fill: url(#blob-shape-gradient) #fff
}

* {
  font-family: system-ui;
  color: #fff
}

.home button,
.home input,
.home label,
.home option,
.home select {
  color: var(--black)
}

main.home {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  overflow: hidden
}

main.home section:nth-of-type(2) {
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  text-align: -webkit-center;
  border-radius: .5em;
  max-height: 50dvh
}

main.home section ul {
  list-style: none;
  padding: unset;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin: 1em
}

main.home section ul li {
  background: rgb(0 0 0 /.5);
  padding: 1em 2em;
  color: var(--white);
  flex: 1 1 1em;
  text-align: center;
  font-weight: 700;
  border-radius: 2em;
  align-self: center
}

section:nth-of-type(2) img {
  display: flex;
  margin-top: 1em
}

main.home section:first-of-type {
  max-height: 40dvh
}

main.home section:last-of-type {
  display: flex;
  flex-direction: row
}

h1 {
  position: absolute;
  left: -99999em;
  top: 0
}

form#poemForm {
  width: 100%;
  display: flex;
  margin: 1em;
  gap: 1em
}

form#poemForm label {
  display: none
}

form#poemForm select#type {
  flex: 1 1 11em;
  height: 4em
}

form#poemForm input#theme {
  flex: 1 1 49em
}

form#poemForm>* {
  border-radius: .5em;
  border: unset
}

.output {
  padding: 1em
}

section {
  overflow-y: scroll
}

::-webkit-scrollbar {
  width: 0
}

.output:has(img) {
  background: rgb(0 0 0 / .5)
}

.lds-grid {
  position: relative;
  display: flex;
  height: 25em;
  width: 25em
}

.lds-grid div {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite
}

.lds-grid div:nth-child(1) {
  top: .5em;
  left: .5em;
  animation-delay: 0s
}

.lds-grid div:nth-child(2) {
  top: .5em;
  left: 10em;
  animation-delay: -.4s
}

.lds-grid div:nth-child(3) {
  top: .5em;
  left: 19.5em;
  animation-delay: -.8s
}

.lds-grid div:nth-child(4) {
  top: 10em;
  left: .5em;
  animation-delay: -.4s
}

.lds-grid div:nth-child(5) {
  top: 10em;
  left: 10em;
  animation-delay: -.8s
}

.lds-grid div:nth-child(6) {
  top: 10em;
  left: 19.5em;
  animation-delay: -1.2s
}

.lds-grid div:nth-child(7) {
  top: 19.5em;
  left: .5em;
  animation-delay: -.8s
}

.lds-grid div:nth-child(8) {
  top: 19.5em;
  left: 10em;
  animation-delay: -1.2s
}

.lds-grid div:nth-child(9) {
  top: 19.5em;
  left: 19.5em;
  animation-delay: -1.6s
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: .5
  }
}

.loadingscren::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(0 0 0 /.5);
  content: '';
  z-index: -1
}

.loadingscren {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  place-content: center;
  z-index: 2
}

.show {
  display: grid;
  backdrop-filter: blur(6px);
}

#select__spinner .backdrop {
  z-index: 0;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

.select {
  z-index: 9999;
}